/* user_bit_api_styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-left:4cm;
    background-color: rgb(190, 190, 190);
    height:100%
}
p {
    width: 90%;
    text-align: justify;
    font-size: 18px;
    color: #3d3d3d;
}
section {
    margin-bottom: 20px;
}


h2 {
    font-size: 24px;
    color: #333;
    width: 90%;
}

pre {
    width: 90%;
    white-space:pre;
    background-color: #16192cb4;
    box-shadow: 0px 5px 10px 0px rgba(58, 107, 153, 0.397);
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size:14px;
    font-weight:400;
    margin: 0;
    padding: 0.8em;
    overflow-x:auto;
}

#inst {
    width: 90%;
    background: hsla(0, 1%, 16%, 0.815);
    color: rgb(241, 241, 241);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:16px;
    font-weight:400;
    margin: 0;
    padding: 0.8em;

    border-style:ridge;
    border-width: 2px;
    border-color:rgb(204, 204, 204);
    border-radius: 5px;
}

li {
    width: 90%;
    text-align: justify;
    list-style-position:outside;
    margin-left: 0.5em;
    font-size: 18px;
    color: #3d3d3d;
}

.doc-container {
    display: flex;
    height:100%;
}

.left-doc-column {
    flex: 4;
    padding: 20px;
    margin-right:0.5cm;
    background-color:whitesmoke;
    border-style:ridge;
    border-width: 2px;
    border-color:rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}


.right-doc-column{
    
    flex: 1;
    padding: 15px;
    margin-left:1px;
    margin-right:1px;

    /* background-color: #519eb625; */
    background: linear-gradient(to right, #ffffffe3, #c5e8ff); /* Vertical gradient background */
    border-style:outset;
    border-width: 2px;
    border-color:rgba(38, 0, 255, 0.199);
    border-radius: 5px;
    
    flex-shrink: 0; /* Prevent this column from shrinking */
    background-color: #f1f1f1; 
    position:sticky; /* Fix the column */
    top: 2cm;
    height: 100%; /* Make it fill the container vertically */
}


.demo-container {
    display: flex;
    height:100%;
}

.left-demo-column {
    flex: 1.8;
    padding: 20px;
    margin-right:0.25cm;
    background-color:whitesmoke;
    border-style:ridge;
    border-width: 2px;
    border-color:rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.right-demo-column {
    flex: 1;
    padding: 20px;
    margin-left:0.25cm;
    /* background-color: #519eb625; */
    background: linear-gradient(to top, #0044ff5d, #c7dfeca4); /* Vertical gradient background */
    border-style:ridge;
    border-width: 2px;
    border-color:rgb(204, 204, 204);
    border-radius: 5px;
    overflow-y:scroll; /* Ensure no horizontal scrollbar appears */
    
    flex-shrink: 0; /* Prevent this column from shrinking */
    background-color: #f1f1f1; 
    position:sticky; /* Fix the column */
    top: 2cm;
    height: 100%; /* Make it fill the container vertically */
}

img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Add margin for spacing */
    float: left; /* Float the logo to the left */
}
